<!DOCTYPE html>

<html>
  <head>
    <title>Error</title>
    <link rel="icon" href="/img/weather.png">
     <link rel="stylesheet" href="/css/styles.css" >
  </head>

  <body>
    <div class="main-container">
    <!-- <h1>Static Help From Public</h1> -->
    <!--Partials added-->
     {{>header}} <!--Renders "title" property in /help -->
    <h2>{{message}}</h2>
    </div>

     {{>footer}}
  </body>
</html>